// font
$font-family: "Poppins", sans-serif;

$primary-100: #1f2320;
$primary-200: #57687c;
$primary-300: #b4c7dd;
$accent-100: #f7cac9;
$accent-200: #926b6a;
$text-100: #333333;
$text-200: #5c5c5c;
$bg-100: #f2f2f2;
$bg-200: #e8e8e8;
$bg-300: #bfbfbf;

$red-shade: #d74242;

$yellow-shade: #ffcc00;
$yellow-shade-100: #f9a200;
$yellow-shade-200: #fff8e4;


// Sidenav
$sidenav-desktop: 250px !default;
$sidenav-mini: 80px !default;
$header-height: 70px !default;

// text color
$font-size-root: 0.9rem;

// Screen sizes
$display-md : 768px;
