@for (toast of toastService.toasts; track $index) {
  <ngb-toast
    [class]="getClass(toast.header)"
    [autohide]="true"
    (hidden)="toastService.remove(toast)"
    [delay]="delay"
  >
    <div class="d-flex align-items-center gap-2">
      <button
        class="btn d-flex align-items-center"
        (click)="toastService.remove(toast)"
      >
        <i class="text-white h5 m-0" [class]="getIcon(toast.header)"></i>
      </button>
      <span class="">{{ toast.message }}</span>
    </div>
  </ngb-toast>
}
