@for (item of options(); track $index) {
<div class="form-check form-check-inline text-danger" [class]="classList()"
    [ngClass]="{'text-danger':control && control.invalid && isSubmitted()}">
    <label class="form-check-label">
        <input class="form-check-input" type="radio" [name]="getOptionName(item.name)" [value]="item.value"
            [checked]="value === item.value" [disabled]="disabled" (change)="onOptionChange(item.value)">
        {{ item.label }}
    </label>
</div>
}
@if (control && control.invalid && isSubmitted()) {
<span>
    <div class="input-error flex-grow-1 text-start">
        {{ showErrorMessage(control, label()) }}
    </div>
</span>
}