.input-error {
  width: 100%;
  font-size: 0.8rem;
  color: var(--danger);
}

::ng-deep {
  .with-icon {
    ~ .ng-select {
      .ng-select-container {
        .ng-value-container {
          .ng-placeholder {
            padding-left: 22px;
          }
          .ng-value {
            padding-left: 22px;
            font-size: 0.75rem;
          }
        }
      }
    }
    ~ input {
      padding-left: 30px;
    }
  }
}

.ng-option-disabled {
  color: var(--gray-300) !important;
}

::ng-deep {
  .ng-select {
    &.size100 {
      width: 100px;
    }
    &.size150 {
      width: 150px;
    }
    &.size200 {
      width: 200px;
    }
    &.size250 {
      width: 250px;
    }
    &.size300 {
      width: 300px;
    }
  }
}

::ng-deep {
  .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border-color: var(--primary) !important;
  }
}
.input-group-text {
  background-color: var(--gray-300);
}

.text-red-500 {
  color: #f46d6d;
}
