<main class="main-width-fluid  pt-2">
    <div class="vstack p-2 justify-content-between h-100">
        
        <div class="vstack align-items-center justify-content-center gap-3">
            <img src="/main.jpg" class="img-fluid"/>
            <div class=" vstack gap-3">
                <img src="/sha-logo.png" class="img-fluid w-75 align-self-center"/>
                <div class="vstack align-items-center justify-content-center">
                    <h4 class="mb-0">SALES OFFER</h4>
                      <p class="mb-0">Unit No:</p>  
                </div>
            </div>
        </div>
        
        <div class="hstack justify-content-between">
            <span>
                <p class="mb-0 text-muted">Exclusive Agents</p>
                <img src="/kf-logo.png" class="img-fluid"/>
            </span>
            <img src="/sha-2.png" class="img-fluid"/>
            <img src="/imkan.png" class="img-fluid"/>
        </div>
    </div>
  </main>