.main-width-fluid{
    width: 100%;
    height: 1123px;
}

.pb-s{
    padding-bottom: 0.2rem
}

 .col-9{
    width: 82%;
 }

 .form-container {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .form-container {
      width: 50%;
    }
  }
  






