.main-width-fluid{
    width: 794px;
    height: 1123px;
}

.pb-s{
    padding-bottom: 0.2rem
}

@media print {
    .noprint {
       display:none;
    }
    .page, .page-break { break-after: page; }
 }

