<div class="page-size details-page my-4">
    <div class="text-end gradient-bg border-bottom py-4 px-2 print-only">
        <img src="/sha-2.png" alt="SHARESIDENCES Emirates Logo" height="40">
    </div>
    <div class="d-flex justify-content-center mt-3">
        <div class="text-center bg-dark rounded-pill px-5 sales-container py-2">
            <h4 class="fw-bold mb-0 text-uppercase">Unit Details</h4>
            <p class="mb-0">{{selectedProperty()?.unit_code}}</p>
        </div>
    </div>


    <div class="d-flex justify-content-end mb-2 ">
        <!-- <span>Property Reference No: ____________</span> -->
        <span><strong>Date:</strong> {{getCurrentDate() | date: 'dd/MM/yyyy' }}</span>
    </div>

    <div class="bordered-box mb-2">
        <div class="section-title">PROJECTS DETAILS</div>
        <div class="row justify-content-between  mb-2">
            <div class="col-md-6 project-name bg-dark hstack justify-content-between">Project Name: <p class="text-end mb-0">SHA Residences</p></div>
            <div class="col-md-6 bg-dark hstack justify-content-between">Location:  <p class="text-end mb-0">SHA Islands AlJurf</p></div>
        </div>
        <div class="row justify-content-between mb-2">
            <div class="col-md-6 hstack justify-content-between">Project Status: <p class="text-end mb-0">Off-Plan</p></div>
            <div class="col-md-6 hstack justify-content-between">Estimated Completion Date: <p class="text-end mb-0">Q1 - 2027</p></div>
        </div>

        <div class="section-title">PROPERTY DETAILS & SIZING DETAILS</div>
        <div class="row justify-content-between mb-2 " >
            <div class="col-md-6 hstack justify-content-between bg-dark">Plot Number: <p class="text-end mb-0">{{selectedProperty()?.unit_code}}</p></div>
            @if (!this.selectedProperty()?.isAppartment) {
                <div class="col-md-6 hstack justify-content-between bg-dark">BUA: <p class="text-end mb-0">{{selectedProperty()?.bua}}</p></div>
            }@else {
                <div class="col-md-6 hstack justify-content-between bg-dark">Balcony Size: <p class="text-end mb-0">{{selectedProperty()?.bal_sqft}}</p></div>
            }
        </div>
        <div class="row justify-content-between mb-2 " >
            <div class="col-md-6 hstack justify-content-between">{{selectedProperty()?.isAppartment?'Appartment':'Villa'}} Type: <p class="text-end mb-0">{{getPropertyType()}} </p></div>
            @if (this.selectedProperty()?.isAppartment) {
                <div class="col-md-6 hstack justify-content-between">Total Area: <p class="text-end mb-0">{{selectedProperty()?.sqft}}</p></div>
            }

        </div>
        <div class="row justify-content-between mb-2 " >
            <div class="col-md-6 hstack justify-content-between bg-dark">Bedrooms: <p class="text-end mb-0">{{selectedProperty()?.bedrooms}}</p></div>
            <div class="col-md-6 hstack justify-content-between bg-dark">AED/SQFT: <p class="text-end mb-0">{{selectedProperty()?.aed_sqft | currency:'AED ':'code':'1.2-2' }}</p></div>
        </div>
        <div class="row justify-content-between mb-2 " >
            @if (!this.selectedProperty()?.isAppartment) {
                <div class="col-md-6 hstack justify-content-between">Plot Area: <p class="text-end mb-0">{{selectedProperty()?.plot_area}}</p></div>
            }@else {
                <div class="col-md-6 hstack justify-content-between">View: <p class="text-end text-capitalize mb-0">{{selectedProperty()?.view}}</p></div>
            }
            <!-- <div class="col-md-6 hstack justify-content-between">50/50 Full Payment on Completion: <p class="text-end mb-0">{{selectedProperty()?.full_payment}}</p></div> -->
        </div>
        <!-- <div class="mb-2 col-md-6 hstack justify-content-between">60/10/30 Post-Handover-2 YEAR PAYMENT PLAN: <p class="text-end mb-0">{{selectedProperty()?.year_payment}}</p></div> -->
    </div>

    <div class="bordered-box mb-4">
        <div class="section-title">PAYMENT PLAN - 50/50</div>
        <div class="d-flex justify-content-between gap-1 align-item-center">
            <span class="bg-dark fw-bold flex-grow-1 p-2"><strong>Selling Price:</strong> {{selectedProperty()?.full_payment | currency:'AED ':'code':'1.2-2'}}</span>
            <span class="bg-dark fw-bold flex-grow-1 p-2"><strong>Admin Fee:</strong> {{2000 | currency:'AED ':'code':'1.2-2'}}</span>
            <span class="bg-dark fw-bold flex-grow-1 p-2">
                <strong>ADM fee 2%:</strong> {{getCalculatedAdmFee(selectedProperty()?.full_payment) | currency:'AED ':'code':'1.2-2'}}
                <p class="mb-0 hint-text fw-lighter">*To be paid with booking fee</p>
            </span>
        </div>

        <table class="table table-bordered border-black mt-2">
            <thead>
            <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Percentage</th>
                <th>Amount (AED)</th>
            </tr>
            </thead>
            <tbody>
                @for (item of installmentsPlan()?.option1; track $index) {
                <tr>
                    <td>{{item.label}}</td>
                    <td>{{item.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{item.percentage}}</td>
                    <td>{{item.amount | number:'1.2-2'}}</td>
                </tr>
                
                }
            </tbody>
        </table>
    </div>

    <div class="bordered-box mb-4">
        <div class="section-title">PAYMENT PLAN - 70/30 PH</div>
        <div class="d-flex justify-content-between gap-1 align-item-center">
            <span class="bg-dark fw-bold flex-grow-1 p-2"><strong>Selling Price:</strong> {{selectedProperty()?.year_payment | currency:'AED ':'code':'1.2-2'}}</span>
            <span class="bg-dark fw-bold flex-grow-1 p-2"><strong>Admin Fee:</strong> {{2000 | currency:'AED ':'code':'1.2-2'}}</span>
            <span class="bg-dark fw-bold flex-grow-1 p-2">
                <strong>ADM fee 2%:</strong> {{getCalculatedAdmFee(selectedProperty()?.year_payment) | currency:'AED ':'code':'1.2-2'}}
                <p class="mb-0 hint-text fw-lighter">*To be paid with booking fee</p>
            </span>
        </div>

        <table class="table table-bordered border-black mt-2">
            <thead>
            <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Percentage</th>
                <th>Amount (AED)</th>
            </tr>
            </thead>
            <tbody>
                @for (item of installmentsPlan()?.option2; track $index) {
                    <tr>
                        <td>{{item.label}}</td>
                        <td>{{item.date | date: 'dd/MM/yyyy' }}</td>
                        <td>{{item.percentage}}</td>
                        <td>{{item.amount | number:'1.2-2'}}</td>
                    </tr>
                    
                    }
            </tbody>
        </table>
    </div>

    <p class="note-text fst-italic text-center print-only">
        Note: Please note this payment plan is provided for your information only and is not an obligation or commitment by Imkan.
        We calculate the Unit sizes as accurately as possible but they may be subject to final changes. This offer remains valid for 24hrs only and is subject to the availability of the Unit. The currency exchange rate will be determined at the time of payment.
    </p>
</div>