.page-size {
    width: 794px;
    height: 1123px;
}



.section-title {
    font-weight: bold;
    padding: 4px 0;
    margin-bottom: 8px;
}

.table th,
.table td {
    vertical-align: middle;
    text-align: center;
}

.note {
    font-size: 0.8rem;
    color: gray;
}

.col-md-6 {
    width: 49%;
}

.note-text{
    font-weight: 600;
}